<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Express | <%=title%></title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>PWA Demo Back-End</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos soluta
          aperiam asperiores consectetur ad quas eaque voluptatem nulla ducimus,
          maxime vero accusantium, iusto hic omnis porro deserunt ex animi.
          Consectetur?
        </p>
        <a href="#" class="btn btn-primary btn-lg"> Get Started </a>
      </div>
    </div>
  </body>
</html>
